body{
    background-color: rgb(246,246,246);
}
/* navigation bar start */
.navigation-container{
    border-bottom:2px solid lightgrey;
    padding:30px 20px;

}
.title-first-portion{
    padding: 5px 8px 8px;
    border-radius: 4px;
    color:white;
    background-color:#5D5FEF ;
    font-weight: 600;
}
.navbar-avatar{
    border-radius:50%;
    height:38px;
    width:38px;
    outline:2px solid lightgray;
    outline-offset: 1px;
}
.isActive{
    font-weight: bold;
    color:#5D5FEF;
    border-bottom: 2px solid #5D5FEF;
    line-height: 0.5;
    width: 50%;
    display: flex;
    justify-content: center;
}
.isActive:hover{
    color:blueviolet;
}
.navbar-of-options>a{
    white-space: nowrap;
    color: #858585;
    font-weight: 500;
}
.isOptionActive{
    color:#5D5FEF !important;
    background-color: #EEEFFF !important;
    
}
#catagoryContainer>a:first-child{
    color:#56578e !important;
    background-color: #f9d4f7 !important;
}
/* navigation bar end */

/* card start */
.news-description{
    height:120px;
    overflow: hidden; 
    text-overflow: ellipsis;  
    -webkit-line-clamp: 5;  
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
@media only screen and (max-width: 992px) {
    .news-description{
        -webkit-line-clamp: 3;
        height:78px;
    }
}
/* card end  */

/* footer start  */
footer{
    color: #949494;
    background-color:#FFFFFF;
    height: 70px;
}
/* footer end */